<div class="row mt-2">
  <div class="col-6">
    <h4>{{ headline }}</h4>

    <form (ngSubmit)="createQuote()">
      <div class="form-group">
        <label for="category">Choose a category: </label>
        <select name="category" id="category" [(ngModel)]="categoryQ" class="custom-select">
          <option value="star-wars" selected>Star Wars (по умолчанию)</option>
          <option value="famous-people">Famous people</option>
          <option value="saying">Saying</option>
          <option value="humour">Humor</option>
          <option value="motivational">Motivational</option>
        </select>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          id="author"
          class="form-control"
          [(ngModel)]="authorQ"
        />
      </div>
      <div class="form-group">
        <label for="quoteText">Quote text</label>
        <textarea
          name="quoteText"
          id="quoteText"
          class="form-control"
          [(ngModel)]="quoteText"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary mr-5"
      >Save
      </button>
    </form>
  </div>
</div>
