<div *ngIf="quotes">
  <h3>{{ id }}</h3>
  <div class="quote mt-3"
  *ngFor="let quote of quotes"
  >
    <p>"{{ quote.text }}"</p>
    <p>-{{ quote.author }}</p>
    <p>{{ quote.category }}</p>
    <button class="btn btn-info" routerLink="/quotes/{{ quote.id }}/edit">Edit</button>&nbsp;
    <button class="btn btn-danger" (click)="delete(quote.id)">Delete</button>
  </div>
</div>
