<div class="row mt-2">
  <div class="col-4">
    <div class="list-group">
      <a
        *ngFor="let category of categoryList"
        class="list-group-item list-group-item-action"
        [routerLink]="['/quotes',category]"
        routerLinkActive="active"
      >{{ category }}</a>
    </div>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>
